<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Response</title>
</head>
<body>
<h1>Scraped</h1>
<h2>Domain</h2>
<h3 th:text="${domain}">domain</h3>
<h2>Name</h2>
<h3 th:text="${name}">domain</h3>
<h2>Twitter</h2>
<h3 th:text="${twitter}">domain</h3>
<h2>Facebook</h2>
<h3 th:text="${facebook}">domain</h3>
<h2>Logo</h2>
<h3 th:text="${logo}">domain</h3>
<h2>Icon</h2>
<h3 th:text="${icon}">domain</h3>
<h2>Employees</h2>
<h3 th:text="${employees}">domain</h3>
<h2>Address</h2>
<h3 th:text="${address}">domain</h3>
</body>
</html>